#car-church-modal {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
